<div class="container" id="nav-container">
  <nav class="navbar navbar-expand-lg" id="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{title}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <span id="navbar-comment" class="align-middle">A project created in WEBLAB for <a class="link-light link-underline-light" href="https://hslu.ch">HSLU</a></span>
          </li>
        </ul>
        <span class="navbar-text" id="quote">
          {{quote}}
        </span>
      </div>
    </div>
  </nav>
</div>
<div class="container text-center" id="app-body">
  <calculator id="input-area"></calculator>
</div>

